.page-section-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.page-section-title h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2347a7;
}

.page-section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.page-section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #ffc107;
  bottom: 0;
  left: calc(50% - 20px);
}

.common-page-section-heading {
  font-size: 26px;
  font-weight: 500;
  color: #2347a7;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.common-page-section-heading:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc107;
  left: 0;
  bottom: 0;
}

.page-blog-section-heading {
  text-align: center;
  padding-bottom: 30px;
}
.page-blog-section-heading h2 {
  font-size: 27px;
  font-weight: 500;
  color: #2347a7;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.page-blog-section-heading h2:after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc107;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.containers {
  position: relative;
  overflow-y: auto;
  height: 400px; /* set the height of the container as desired */
}

.fixed-content {
  position: sticky;
  top: 0;
  background-color: #fff; /* set the background color of the fixed content */
  padding: 20px; /* set padding for spacing */
  z-index: 1; /* set z-index to ensure fixed content appears above scrollable content */
}

.scroll-content {
  /* set the styles for the scrollable content */
  height: 1000px; /* set height or add enough content to enable scrolling */
}

/*--------------------------------------------------------------
# Staff Card design css
--------------------------------------------------------------*/
/* .Staff-card {
  border: 2px solid #3f51b5;
  border-radius: 6px;
  padding: 13px 8px;
} */

.Staff-card .Staff-card-image {
  width: 80px;
  height: 80px;
  max-height: 80px;
  max-width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 16px;
}
.Staff-heading {
  color: #211f54;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 6px;
  cursor: pointer;
  transition: color 300ms ease;
}
.Staff-heading:hover {
  color: #4a3aff;
}
.Staff-dc {
  color: #4a3aff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.Staff-email {
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .gallery-item img {
  transition: 0.3s;
}

.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: #ffffff;
}

.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
  margin-top: 0;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #272727;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

/* .foo .bar a {
  color: red;
}
.foo .bar a:hover {
  color: blue;
}

.foo .bar a:focus {
  border: 1px solid black;
} */
.foo .bar a {
  color: red;

  &:hover {
    color: blue;
  }
  
  &:focus {
    border: 1px solid black;
  }
}
